<div id="contactus">
  <div id="imageDiv">
    <img id="contactusBackgroundImage" alt="" src="https://media.istockphoto.com/illustrations/detroit-skyline-in-watercolor-background-illustration-id480497395">
    <!-- <video autoplay muted loop id="myVideo">
      <source src="https://media.istockphoto.com/videos/pretty-female-student-with-books-readingclassroom-video-id857220086" type="video/mp4">
    </video> -->
  </div>
  <div class="textCenteredDiv">
    <div class="headlineBar">
    </div>
    <h1>CONTACT US</h1>
    <h2>Address</h2>
    <p>All Saints Literacy Center<br>3553 W. Vernor Hwy. Detroit, MI 48216</p>
    <h2>Phone/Email</h2>
    <p>313-297-1399<br>allsaintsliteracy(at)gmail(dot)com</p>
    <h2>Hours</h2>
    <p>Hours: Mon 9-8, Tue 9-5, Wed 9-8, Thu 9-5 Fri 1-5</p>
    <h2>Map</h2>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJHWaHgqIyO4gRM8v7DC9PHk8&key=AIzaSyCL8VNQQUxN3-VX_Ps9SspJBKbY0WTZ6YY" allowfullscreen></iframe>
  </div>
</div>
