<div id="donate">
  <div id="imageDiv">
    <!-- <img id="learningImage" alt="Learning together" src="images/literacy-video.png"> -->
    <video autoplay muted loop id="myVideo">
      <source src="https://media.istockphoto.com/videos/pretty-female-student-with-books-readingclassroom-video-id857220086" type="video/mp4">
    </video>
  </div>
  <div class="textCenteredDiv">
    <div class="headlineBar">
    </div>
    <h1>Donate</h1>
    <p>You can play a part in helping an adult learn to read, write, do math or learn English
      as a Second Language (ESL) by donating to our Center. All Saints Literacy Center is a 501(c)(3)
      non-profit, and your monetary donations help us serve adults that want to improve their lives.</p>
    <p>Please click on the secure PayPay donate button below, and send your contribution in any amount to
      help us provide services for adults that want to improve their lives.</p>
    <p>PayPal - The safer, easier way to pay online!</p>
    <p>Or if you prefer, send a check in any amount to help with the ongoing costs of providing literacy services.
      There is no charge for students to participate in our program, but we have costs such as textbooks and computer
      software that we need to pay for. Your donation will help make a difference in someone's life!</p>
    <p>Make your tax deductible check out to All Saints Literacy Center and mail it to:</p>
    <p>All Saints Literacy Center<br>
       3553 W. Vernor Hwy.<br>
       Suite D<br>
       Detroit, MI  48216</p>
    <p>A contribution in any amount plays an important part in helping people improve their English language skills.</p>
    <p>Your donation helps learners gain employment, assist their children with homework and improve their self-esteem through
      the knowledge and skills they develop in our literacy program.</p>
    <p>Know in your heart that you have made a difference!</p>
    <p>Thank you.</p>
    <p>Roger Frank<br>Director</p>
    <div id="paypalButton">
      <button type="button" href=""><img class="buttonImage" src="images/PayPal_2014_logo.svg.png" alt="Pay Pal Donate Button"/></button>
    </div>
  </div>
</div>
