<div id="home">
  <div id="imageDiv">
    <video autoplay muted loop id="myVideo">
    <source src="https://media.istockphoto.com/videos/grandfather-and-grandson-reading-book-at-home-together-video-id629843092" type="video/mp4">
    </video>
  </div>
  <div class="menuDiv">
    <!-- <img class="socialIcon" src="images/Twitter_Social_Icon_Square_White.png">
    <img class="socialIcon" src="images/FB-f-Logo__white_29.png"> -->
    <i class="material-icons sideNavButton">menu</i>
  </div>
  <div class="textCenteredDiv">
    <div class="headlineBar">
    </div>
    <div id="homeH1">
      <h1>A PLACE TO LEARN</h1>
      <h1>A PLACE TO GROW</h1>
    </div>
    <p>All Saints Literacy Center enables adult learners to meet the challenges of today by improving their reading, writing,
     math and English speaking skills. Qualified tutors provide an individualized learning plan tailored to the goals and
     objectives of the learner in a welcoming environment.</p>
    <div class="navButtons">
      <a href="./#!/learn">
        <button type="button" id="learnButton">Learn</button>
      </a>
      <a href="./#!/volunteer">
        <button type="button" id="volunteerButton">Volunteer</button>
      </a>
      <a href="./#!/donate">
      <button type="button" id="donateButton">Donate</button>
      </a>
    </div>
  </div>
</div>
