<div id="learn">
  <div id="imageDiv">
    <video autoplay muted loop id="myVideo">
      <source src="https://media.istockphoto.com/videos/instructor-helping-student-to-understand-complicated-problems-and-video-id902210514" type="video/mp4">
    </video>
  </div>
  <div class="textCenteredDiv">
    <div class="headlineBar">
    </div>
  <div id="homeH1">
  <h1>LEARN TO READ, WRITE OR DO MATH</h1>
    <h1>LEARN ENGLISH AS A SECOND LANGUAGE</h1>
  </div>
  <h2>Begin Today</h2>
  <p>This is your time, and you are worth it! If you would like to enroll in our literacy program, call us
    at 313-297-1399 to schedule an orientation.</p>
  <p>You can also send an email to allsaintsliteracy(at)gmail(dot)com or stop by the Center, 3553 W. Vernor Hwy. Detroit, MI 48216.</p>
  <p>The following steps are a guide to the enrollment process at All Saints Literacy Center.</p>
  <div class="columns">
    <div class="listDiv">
      <h3 class="listHeadline">Step One - Student Orientation</h3>
      <ul>
        <li>Program Outline</li>
        <li>Goal Setting</li>
        <li>Policy and Procedures</li>
        <li>Make an appointment for assessment</li>
      </ul>
    </div>
    <div class="listDiv">
      <h3 class="listHeadline">Step Two - Assessment</h3>
      <ul>
        <li>Registration Form</li>
        <li>Reading Appraisal</li>
      </ul>
    </div>
    <div class="listDiv">
      <h3 class="listHeadline">Step Three - Agreement</h3>
      <ul>
        <li>Skills Evaluation</li>
        <li>Participant Agreement</li>
        <li>Schedule individual instructional session</li>
      </ul>
    </div>
  </div>
  <h3>Progress</h3>
  <p>As you work with your tutor, you will begin to see progress
    in your ability to read, write, speak and do math. Your goals are reviewed and
    adjustments are made to your learning plan in order for you to achieve success.</p>
  <div class="navButtons">
    <a href="/all-saints/#!/contact-us">
    <button href="/contact-us" id="contactUsButton">Contact Us</button>
  </a>
  </div>
</div>
</div>
