<div id="newsletter">
  <div id="imageDiv">
    <img id="contactusBackgroundImage" alt="" src="images/newsletter.jpg">
    <!-- <video autoplay muted loop id="myVideo">
      <source src="https://media.istockphoto.com/videos/pretty-female-student-with-books-readingclassroom-video-id857220086" type="video/mp4">
    </video> -->
  </div>
  <div class="textCenteredDiv">
    <div class="headlineBar">
    </div>
    <h1>NEWSLETTER SIGN UP</h1>
    <div id="newsletterForm">
      <label>First Name</label>
      <input type="text"></input>
      <label>Last Name</label>
      <input type="text"></input>
      <label>Email</label>
      <input type="email"></input>
  </div>
      <button type="submit">Subscribe</button>
  </div>
</div>
