<div id="voluneer">
  <div id="imageDiv">
    <!-- <img id="learningImage" alt="Learning together" src="images/literacy-video.png"> -->
    <video autoplay muted loop id="myVideo">
      <source src="https://media.istockphoto.com/videos/professor-helping-college-student-at-desk-in-classroom-video-id595458384" type="video/mp4">
    </video>
  </div>
  <div class="textCenteredDiv">
    <div class="headlineBar">
    </div>
    <h1>Volunteer</h1>
    <p>All Saints Literacy Center is seeking volunteer tutors to help
      adults learn to read, write and speak in English. Tutors work one to
      one with English as a Second Language (ESL) learners that need help
      learning English to meet their goals. All training and materials are
      provided. It only takes two hours a week to make a difference in
      someone’s life!</p>
    <div class="centeredList">>
    <h2 class="listHeadline">Tutor qualifications:</h2>
    <ul>
      <li>18 years or older</li>
      <li>Comfortable reading and writing in English</li>
      <li>Have a positive attitude</li>
      <li>Be patient and encouraging</li>
      <li>Empathetic to second language learners’ needs</li>
      <li>Be flexible and willing to learn strategies to help a person succeed</li>
      <li>No previous teaching or tutoring experiences is needed</li>
      <li>High school graduate and completion of some college coursework</li>
      <li>Able to commit to 6 months of service</li>
      <li>Willing to learn computer software that learners will use</li>
      <li>No previous computer knowledge is needed, just a willingness to learn!</li>
    </ul>
  </div>
    <div class="navButtons">
      <a href="/#!/tutor-application">
        <button id="tutorapplicationButton">Tutor Application</button>
      </a>
      <a href="/#!/contact-us">
        <button id="contactusButton">Contact Us</button>
    </div>
  </div>
</div>
